{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super()  }}
    <meta charset="utf-8" />
    <!-- 引入 ECharts 文件 -->
    <script src="/static/js/echarts.min.js"></script>

    <style>
    <!-- 斑马显示账单 -->
    .zebra caption{
        font-size:20px;
        font-weight:normal;
        background:url(../img/zebratable.png);
        background-repeat:no-repeat;
        background-position: 130px center;
        padding-top: 20px;
        height:50px;
    }
    #container{
        padding-top:20px;
        width:33%;
        margin:0 auto;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width:100%;
        -webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
        box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    }
    .zebra {
        border: 1px solid #555;
    }
    .zebra td {
        border-left: 1px solid #555;
        border-top: 1px solid #555;
        padding: 10px;
        text-align: center;
    }
    .zebra th, .zebra th:hover {
        border-left: 1px solid #555;
        border-bottom: 1px solid #828282;
        padding: 20px;
        text-align: center;
        background-color:#151515 !important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
        background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
        background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
        background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
        background-image:      -o-linear-gradient(top, #151515, #404040) !important;
        background-image:         linear-gradient(top, #151515, #404040) !important;
        color:#fff !important;
        font-weight:normal;
    }
    .zebra tbody tr:nth-child(even) {
        background: #151515 !important;
        color:#fff;
    }
    .zebra tr:hover *{
        background: #eeeeee;
        color:#000;
    }
    .zebra tr {
        background:#404040;
        color:#fff;
    }
    </style>
{% endblock %}



{% block page_content %}
<div class="post-header">
    <ul class="nav nav-tabs">
        <li{% if show_what == 'month' %} class="active"{% endif %}><a href="{{ url_for('.show_month') }}">Month</a></li>
        <li{% if show_what == 'year' %} class="active"{% endif %}><a href="{{ url_for('.show_year') }}">Year</a></li>
    </ul>
    {% if show_what == 'month' %}
        {% if bill_all %}
        <div id="main" style="width: 100%;height: 200px;"></div>
        {% else %}
        <div style="width: 100%;height: 200px;">您还没有添加账单信息</div>
        {% endif %}
    {% elif show_what == 'year' %}
        <div style="width: 100%;height: 200px;">敬请期待</div>
    {% endif %}
</div>



<div class="col-md-4">
    <h3>{{ date_today }} 花费 {{ total_today }} 元</h3>
    <table class="zebra">
        <thead>
            <tr>
                <th>Goods</th>
                <th>Price</th>
                <th>Use</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for bd in bd_today_all %}
            <tr>
                <td>{{ bd.goods }}</td>
                <td>{{ bd.price }}元</td>
                <td>{{ bd.use }}</td>
                <td><a href="{{ url_for('.account_delete', bdid=bd.id) }}"><input type="button" name="delete" value="删除" style="background: rgba(255, 255, 255, 0.0)"/></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <h3>请添加消费记录</h3>
    {{ wtf.quick_form(acform)  }}
</div>
<div class="col-md-4">
    <h3>今天是 {{ today }}</h3>
    <h3>本月共花费 {{ total_month }} 元</h3>
    <form action="/account/query" method="post">
        选择日期：<input name="date" type="date"/>
        <input type="submit" value="Go">
    </form>
    <h3>本月计划 {{ user.plan }} 元</h3>
    {{ wtf.quick_form(plform)  }}
</div>

{% endblock %}



{% block scripts %}
{{ super() }}
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    myChart.setOption({
        backgroundColor: '#394056',
        title: {
            text: '最近一个月消费',
            textStyle: {
                fontWeight: 'normal',
                fontSize: 16,
                color: '#F1F1F3'
            },
            left: '6%'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                lineStyle: {
                    color: '#57617B'
                }
            }
        },
        legend: {
            icon: 'rect',
            itemWidth: 14,
            itemHeight: 5,
            itemGap: 13,
            data: ['花费', '平均', '计划'],
            right: '4%',
            textStyle: {
                fontSize: 12,
                color: '#F1F1F3'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            data: {{ xAxisList }}
        }],
        yAxis: [{
            type: 'value',
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            axisLabel: {
                margin: 10,
                textStyle: {
                    fontSize: 14
                }
            },
            splitLine: {
                lineStyle: {
                    color: '#57617B'
                }
            }
        }],
        series: [{
            name: '花费',
            type: 'line',
            smooth: true,
            symbol: 'circle',
            symbolSize: 5,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(137, 189, 27, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(137, 189, 27, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(137,189,27)',
                    borderColor: 'rgba(137,189,2,0.27)',
                    borderWidth: 12

                }
            },
            data: {{ yAxisList }}
        }, {
            name: '平均',
            type: 'line',
            smooth: true,
            symbol: 'circle',
            symbolSize: 5,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(0, 136, 212, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(0, 136, 212, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(0,136,212)',
                    borderColor: 'rgba(0,136,212,0.2)',
                    borderWidth: 12
                }
            },
            data: {{ yAxisAverage }}
        }, {
            name: '计划',
            type: 'line',
            smooth: true,
            symbol: 'circle',
            symbolSize: 5,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(219, 50, 51, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(219, 50, 51, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(219,50,51)',
                    borderColor: 'rgba(219,50,51,0.2)',
                    borderWidth: 12
                }
            },
            data: {{ yAxisPlan }}
        }]
    })

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
{% endblock %}
